body{
    font-family: monospace;
    background-color: black;
}

h2.num{
    width: 25px;
    height: 25px;
    margin-right: 2px;
    border-radius: 25px;
    background-color: #35c1f0;
    text-align: center;
    color: white;
    padding: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
.wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.wrap p, .wrap a {
    margin: 0;
    padding: 0;
}

button.text {
    font-family: inherit; /* Inherit from body */
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
    text-align: center; /* Center text alignment */
    color: black;
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer when hovering */
    background-color: transparent;
    text-decoration: none;
}

button.text:hover {
    text-decoration: underline; /* Optional: change color on hover */
}

button.text.inactive{
    color: gray;
}

.mpCode_container, .ble_info{
    display: none;
}

.flex-container {
    height: 95vh;
    display: flex;
    gap: 7px;
    overflow: hidden; 
    padding: 7px;
    border-radius: 5px;
    background-color: #aed1e6;
}

.box{
    padding: 5px;
    border-radius: 5px;
    height: calc(100% - 10px); /* Subtracting top and bottom padding */
    background-color: #cfe8ef;
    /* margin-bottom: 7px;  */
}

.box.left {
    flex: 2;
    position: relative;
}

.box.right {
    width: 70vw;
}

progress {
    width: 100%;
    height: 30px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 15px;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
  }
  
  progress::-webkit-progress-bar {
    background-color: #f0f0f0;
    border-radius: 15px;
  }
  
  progress::-webkit-progress-value {
    background-color: #3498db;
    border-radius: 15px;
    transition: width 0.5s ease;
  }
  
  progress::-moz-progress-bar {
    background-color: #3498db;
    border-radius: 15px;
    transition: width 0.5s ease;
  }
  
  .progress-container {
    margin-left: 25px;
    position: relative;
    width: 300px; /* Adjust as needed */
  }
  
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }